/* General */
*:focus{
		outline-color: $rougeOdile;
}

a {
	color:$rougeOdile;
	text-decoration: none;
	@extend %transitionHov;
	:hover{
		@extend %transitionHov;
	}
}



$hauteurMenu: 38px; /* 6 */
$hauteurHeader: 400px;
#menu-menu-top{
	
	text-align: center;
	font-size: 14px;
  > li{
	@include inline-block(middle);
	height:$hauteurMenu;
	margin: 0px 15px;
	a{
	  display: block;
	  @extend %vertical-align;
	  text-decoration: none;
	  text-transform: uppercase;
	  color:$rougeOdile;
	}
	a:hover{
	  color:rgba(232, 85, 70,0.77);
	}
  }
}


.menuTopContainer{
	position: absolute;
	z-index: 100;
	margin-top: -$hauteurMenu;
	height: $hauteurMenu;
	background-color: #fff;
}





// Meta-slider Header

#metaslider_container_43{
    overflow: hidden;
    height: $hauteurHeader;
    max-height: 100%;
    .flexslider{
	    height: $hauteurHeader !important;
    }
    img{
	   // @include prefix("filter", blur(10px));
    }
}
