/**
 * PLacholder to vertical alignement
 */

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @if $legacy-support-for-ie {
    vertical-align: middle;
  }

}

%center {
	margin: 0 auto;
}

%transitionHov{
@include prefix(transition, "0.5s");
}